@using NCDNewMIS.Models
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Title -->
    <title>Login Page</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Specific -->
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, viewport-fit=cover">
    <link rel="stylesheet" href="~/Content/assets/icons/flaticon/flaticon.css">
    <link rel="stylesheet" href="~/Content/assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/assets/icons/line-awesome/css/line-awesome.min.css">
    <!-- NICE SELECT -->
    <link href="~/Content/assets/vendor/niceselect/css/nice-select.css" rel="stylesheet">
    <!-- STYLESHEETS -->
    <link href="~/Content/assets/vendor/powerful-calendar/style.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/powerful-calendar/theme.css" rel="stylesheet">

    <!-- STYLE CSS -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <style>
        .btn-rgstr {
            cursor: pointer
        }
        .login-logo {
            padding: 10px 20px;
            background: #fff;
            display: flex;
            justify-content: space-around
        }
    </style>
</head>
<body>
    <div class="login-logo">
        <img src="~/Content/assets/images/simens-logo.svg" width="170" alt="Siemens Logo" />
        <img src="~/Content/assets/images/pci-logo.png" alt="PCI logo" style="width: 60px" />
    </div>
    <div class="fix-wrapper min-h-screen flex py-[30px] items-center justify-center">
        <div class="container p-5">
            <div class="row justify-center">
                <div class="lg:w-[41.66%] md:w-1/2">
                    <div class="card mb-0 h-auto">
                        <div class="card-body p-[1.875rem]">
                            <h2 class="text-center mb-4 text-primary font-bold ">ACT-II</h2>
                            <h2 class="text-center mb-4">Login</h2>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group mb-6">
                                    @Html.LabelFor(m => m.Email, new { @class = "form-label font-medium text-[0.938rem] block" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "w-full focus:border-primary focus:outline-none form-control rounded-lg dark:bg-[#151515] bg-white border-[0.0625rem] border-[#e6e6e6] py-[0.3125rem] px-5 text-[#6e6e6e] h-[2.8rem]", placeholder = "Enter Username" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group mb-6">
                                    @Html.LabelFor(m => m.Password, new { @class = "form-label font-medium text-[0.938rem] block" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { @class = "w-full focus:border-primary focus:outline-none form-control rounded-lg dark:bg-[#151515] bg-white border-[0.0625rem] border-[#e6e6e6] py-[0.3125rem] px-5 text-[#6e6e6e] h-[2.8rem]", placeholder = "Enter password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @*<div class="form-row flex flex-wrap justify-between align-baseline mb-4">
                                        <div class="form-group sm:mb-4 mb-1">
                                            <div class="form-check custom-checkbox ms-1">
                                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "form-check-input ml-0" })
                                                @Html.LabelFor(m => m.RememberMe, new { @class = "form-check-label ml-[0.313rem] mt-[0.188rem]" })
                                            </div>
                                        </div>
                                        <div class="form-group ms-2">
                                            <a href="#">Forgot Password?</a>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="offset-md-2 col-md-10">
                                        <input type="submit" value="Log in" class="btn-rgstr py-[0.65rem] px-5 rounded-lg font-normal text-[0.9375rem] bg-primary text-white w-full" />
                                    </div>
                                </div>
                            }
                            @*<div class="new-account mt-3">
                                    <p>Don't' have an account? <a class="text-primary" href="~/Account/Register">Register here</a></p>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>