@using System.Data
@{
    DataTable dt = new DataTable();
    var columns = new List<string>();
    if (Model != null)
    {
        dt = Model;
        foreach (DataColumn dc in dt.Columns)
        {
            columns.Add(dc.ColumnName);
        }
        var ex = new List<string>() { "", "", "", "", "", "" };
        columns = columns.Where(x => !ex.Any(y => y == x)).ToList();
    }
}
<style>
    table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting_asc_disabled, table.dataTable thead > tr > th.sorting_desc_disabled, table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting_asc_disabled, table.dataTable thead > tr > td.sorting_desc_disabled {
        /*padding-right: 0px !important;*/
    }
</style>
<h5 class="text-center">
    @if (dt.Rows.Count > 0)
    {
    <strong class="text-primary">@dt.Rows[0]["page"].ToString().ToUpper().Replace('_', ' ') <br /> @dt.Rows[0]["indicatorText"] </strong>
    }
</h5>
<br />
<div class="overflow-x-auto table-scroll">
    <table class="table table-bordered table-striped cell-border small tblfont" id="tbl1">
        <thead class="text-center">
            <tr>
                <th class="text-center">Srno.</th>
                <th class="text-center">District</th>
                <th class="text-center">Block</th>
                <th class="text-center">Total Target</th>
                <th class="text-center">Total Achieved</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (dt.Rows.Count > 0)
                {
                    var sno = 1;
                    foreach (DataRow dr in dt.Rows)
                    {
                        <tr>
                            <td class="text-center">@(sno++)</td>
                            <td class="text-center">@dr["District"]</td>
                            <td class="text-center">@dr["Block"]</td>
                            <td class="text-center"><strong class="">@dr["target"]</strong></td>
                            <td class="text-center"><strong class="">@dr["achieved"]</strong></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="@columns.Count"><strong class="text-danger">Record Not Found !!</strong></td>
                    </tr>
                }
            }
        </tbody>
        <tfoot>
            @if (dt.Rows.Count > 0)
            {
                <tr>
                    <td class="text-right" colspan="3"><strong>Grand Total :</strong></td>
                    <td class="text-center"><strong>@dt.Compute("sum(target)", string.Empty)</strong></td>
                    <td class="text-center"><strong>@dt.Compute("sum(achieved)", string.Empty)</strong></td>
                </tr>
            }
        </tfoot>

    </table>
</div>

<script>
    $(function () {
        $("#tbl1").DataTable();
    });
</script>
