@model NCDNewMIS.Models.ImageUploadModel
@{
    ViewBag.Title = "Image Upload";
    ViewBag.TitleIcon = "fa fa-user";
    ViewBag.SemiTitle = "";
    ViewBag.SemiTitleLink = "/";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="page-titles dark:bg-[#1b1b1b] rounded-lg flex items-center justify-between relative  mb-[1.875rem] flex-wrap z-[1] py-[0.9375rem] sm:px-[0.975rem] px-[1.875rem] bg-white">
            <ol class="text-[0.875rem] flex items-center flex-wrap bg-transparent">
                <li>
                    <a href="~/Home/Home" class="text-[#828690] dark:text-white text-[0.875rem]">
                        Home
                    </a>
                </li>
                <li class="pl-2 before:content-['/'] before:font-[simple-line-icons] before:font-black before:text-xl before:leading-4 before:pr-2 before:float-left before:text-primary font-semibold"><a href="javascript:void(0)" class="text-primary "></a> @ViewBag.Title</li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="xl:w-1/1 w-full">
                <div class="card z-auto">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-5 max-sm:pb-5 relative border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h4 class="card-title capitalize">Image Upload</h4>
                    </div>
                    <div class="sm:p-[1.875rem ] p-4">
                        <div class="basic-form">
                            @using (Html.BeginForm("ImageUpload", "Home", FormMethod.Post, new { @class = "panel-body form-horizontal form-padding loader", enctype = "multipart/form-data", @id = "formid" }))
                            {
                                @*<div class="col-md-12">@Html.Partial("_Alerts")</div>*@
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.Id)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-body-color text-[0.76563rem] col-form-label-sm">Round Type <em class="text-danger">*</em></label>
                                    <div class="sm:w-5/6">
                                        @Html.DropDownListFor(m => m.RoundType,NCDNewMIS.Models.CommonModel.GetRoundType(), "Select", new { @class = "form-control relative text-[13px] text-body-color h-[2.813rem] border border-b-color block rounded-lg py-1.5 px-3 duration-500  outline-none w-full ", @required = "required" })
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-body-color text-[0.76563rem] col-form-label-sm">Block <em class="text-danger">*</em></label>
                                    <div class="sm:w-5/6">
                                        @Html.DropDownListFor(m => m.BlockId, new List<SelectListItem>(), "Select", new { @class = "form-control relative text-[13px] text-body-color h-[2.813rem] border border-b-color block rounded-lg py-1.5 px-3 duration-500  outline-none w-full ", @required = "required" })
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-body-color text-[0.76563rem] col-form-label-sm">Date <em class="text-danger">*</em></label>
                                    <div class="sm:w-5/6">
                                        <input type="date" name="Date" id="Date" required class="relative text-[0.76563rem] placeholder:text-[0.76563rem] py-1 px-2 min-h-[2.5rem] border border-b-color block rounded-lg duration-500  outline-none w-full form-control-sm" placeholder="col-form-label-sm">
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-[13px] font-medium text-body-color">Title <em class="text-danger">*</em></label>
                                    <div class="sm:w-5/6">
                                        <input type="text" id="Title" name="Title" required class="form-control relative text-[13px] text-body-color h-[2.813rem] border border-b-color block rounded-lg py-1.5 px-3 duration-500  outline-none w-full" placeholder="Title">
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-body-color text-[1.09375rem] font-medium col-form-label-lg">
                                        Upload Image <em class="text-primary"><em class="text-danger">*</em> (jpg,png,jpeg)</em>
                                        <strong class="text-blue">(Capture Multiple images)</strong>
                                    </label>

                                    <div class="sm:w-5/6">
                                        <input class="relative text-[13px] h-[2.813rem] file:h-[2.813rem] file:outline-none file:text-body-color
                                               file:py-[0.175rem] file:pl-2.5 file:pr-3 file:bg-[#f8f9fa] dark:file:bg-[#1b1b1b]
                                               border border-b-color file:border-b-color block rounded-lg text-body-color duration-500
                                               outline-none w-full"
                                               type="file" multiple required accept="image/.jpg,.jpeg,.png" id="FileUpload" name="FileUpload">
                                    </div>
                                </div>
                                <div class="mb-4 row">
                                    <label class="sm:w-1/6 py-[7px] text-body-color text-[1.09375rem] font-medium col-form-label-lg">Description</label>
                                    <div class="sm:w-5/6">
                                        <textarea id="Description" maxlength="300" class="form-control relative text-[13px] text-body-color border border-b-color block rounded-lg duration-500  w-full" cols="12" rows="7"></textarea>
                                    </div>
                                </div>
                                <div class="mb-4 text-center">
                                    <input type="submit" class="btn btn-primary mr-1 mb-2 inline-block rounded-lg font-medium xl:text-[10px] text-xs leading-5 xl:py-[0.719rem] xl:px-[1.563rem] py-2.5 px-4 border border-primary text-white bg-primary hover:bg-hover-primary hover:border-hover-primary duration-300" name="btnsubmit" id="btnsubmit" value="Submit" />
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-1/2 w-full" style="display:none">
                <div class="card z-auto">
                    <div class="card-header flex flex-wrap justify-between items-center sm:p-5 sm:pt-6 p-4 pt-5 max-sm:pb-5 relative border-b border-[#E6E6E6] dark:border-[#ffffff1a]">
                        <h4 class="card-title capitalize">Image Upload Lists</h4>
                    </div>
                    <div class="sm:p-[1.875rem ] p-4">
                        <div class="basic-form">
                            <div id="subdata"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/JS/Master.js"></script>

    <script>
        $(document).ready(function () {

            BindBlock("BlockId", '', "0");
          
            $("#UploadDate").datepicker({
                dateFormat: 'dd-M-yy',
                // changeMonth: true,
                //changeYear: true,
                maxDate: '0',
            });
            $("#RoundType").change(function (e) {
                BindBlock("BlockId", '', "0", $(this).val());
            });

            $("#FileUpload").change(function (e) {

                var fileInput = document.getElementById('FileUpload');
                let allowedExtension = ['image/jpeg', 'image/jpg', 'image/png'];
                //Iterating through each files selected in fileInput
                if (fileInput.files.length > 0) {
                    for (i = 0; i < fileInput.files.length; i++) {
                        if (fileInput.files[i]) {
                            var sfilename = fileInput.files[i].name;
                            // formData.append(sfilename, fileInput.files[i]);
                            var file = fileInput.files[i], img;
                            if (allowedExtension.indexOf(file.type) > -1) {
                                if (Math.round(file.size / (1024 * 1024)) > 1) { // make it in MB so divide by 1024*1024  = 2 MB
                                    toastr.error("Error", 'Please select image size less than 2 MB');
                                    return false;
                                }
                            }
                            else {
                                toastr.error("Error", 'Please select valid image.');
                                $('#FileUpload').val('');
                                return false;
                            }
                        }
                    }
                }

            });

            //BindData();

            $("#formid").on("submit", function (event) {
                event.preventDefault();
                var isvalid = false;
                if ($('#RoundType').val() == '') {
                    toastr.error("Error", 'Enter the Round Type.');
                    isvalid = false;
                    return false;
                }
                if ($('#BlockId').val() == '') {
                    toastr.error("Error", 'Enter the block.');
                    isvalid = false;
                    return false;
                }
                if ($('#Date').val() == '') {
                    toastr.error("Error", 'Enter the date.');
                    isvalid = false;
                    return false;
                }
                if ($('#Title').val() == '') {
                    toastr.error("Error", 'Plase the title.');
                    isvalid = false;
                    return false;
                }
                if ($('#FileUpload').val() == '') {
                    toastr.error("Error", 'Please choose file.');
                    isvalid = false;
                    return false;
                }
                else {
                    // var formData = $(this).serialize();
                    var formData = new FormData();

                    if (confirm("Are you sure you want to submit data this?")) {
                        debugger;
                        if ($('#BlockId').val() != '') {
                            formData.append('BlockId', $('#BlockId').val());
                            isvalid = true;
                        }
                        if ($('#Date').val() != '') {
                            formData.append('Date', $('#Date').val());
                            isvalid = true;
                        }
                        if ($('#Title').val() != '') {
                            isvalid = true;
                            formData.append('Title', $('#Title').val());
                        }
                        if ($('#Description').val() != '') {
                            isvalid = true;
                            formData.append('Description', $('#Description').val());
                        }
                        if ($('#RoundType').val() != '') {
                            isvalid = true;
                            formData.append('RoundType', $('#RoundType').val());
                        }
                        var files = $('#FileUpload')[0].files;
                        for (var i = 0; i < files.length; i++) {
                            formData.append('FileUpload', files[i]);
                        }
                        //var isvalid = $("#formid").valid(); //$('#formid').validate();
                        if (isvalid) {
                            $.ajax({
                                type: "POST",
                                url: document.baseURI + "/Home/ImageUpload/",
                                data: formData,
                                contentType: false,
                                cache: false,
                                processData: false,
                                // dataType: 'json',
                                //contentType: "application/json; charset=utf-8",
                                success: function (resp) {
                                    if (resp.IsSuccess) {
                                        toastr.success("Success", resp.Message);
                                        //jQuery.event.trigger("ajaxStop");
                                       // BindData();
                                    }
                                    else {
                                        toastr.error("Error", resp.Message);
                                        return false;
                                    }
                                },
                                error: function (req, error) {
                                    if (error === 'error') { error = req.statusText; }
                                    var errormsg = 'There was a communication error: ' + error;
                                    toastr.error("Error", errormsg);
                                    //jQuery.event.trigger("ajaxStop");
                                    return false;
                                }
                            });
                        }
                        else {
                            toastr.error("Error", "All Record Validate !!");
                            // jQuery.event.trigger("ajaxStop");
                            return false;
                        }
                    }
                    else {
                        return true;
                    }
                }

            });//end final submit

        });//End Load Method

      
        function InputClear() {
            $("input[name=Id]").val('0');
            $("input[name=UploadDate]").val('');
            $("input[name=FileName]").val('');
            $("input[name=FileUpload]").val('');
        }

        function BindData() {
            $("#subdata").html('');
            var formData = $('#formid').serialize();
            var filtermodel = new Object();
            filtermodel.BlockId = $("#BlockId").val() == "" ? "0" : $("#BlockId").val();
            $.ajax({
                type: "Get",
                url: document.baseURI + "/Home/GetImageUpload",
                data: filtermodel,
                //cache: false,
                success: function (res) {
                    if (res.IsSuccess) {
                        $("#subdata").html(res.Data);

                        if ($.fn.dataTable.isDataTable('#tbl')) {
                            $("#tbl").dataTable().fnDestroy();
                        }
                        table = $('#tbl').DataTable({
                            //scrollY: "400px",
                            //scrollX: true,
                            //scrollCollapse: true,
                            //paging: false,
                            pageLength: 100,
                            fixedColumns: {
                                leftColumns: 1,
                                rightColumns: 1
                            },
                            order: [[0, 'asc']],
                            buttons: [{
                                extend: 'excel', text: '<span><i class="fa fa-download"></i>Export</span>', title: 'Gallery Lists',//$('#IDDistrict option:selected').text() +
                                className: 'btn btn-primary button-icon mr-3 mt-1 mb-1',
                                filename: 'Gallery List',
                                exportOptions: { modifier: { page: 'all' } }
                            }],
                        });
                        $('.dataTables_filter input[type="search"]').css(
                            { 'width': '200px', 'display': 'inline-block' }
                        );
                        $('#div-download').empty();
                        table.buttons().container().appendTo($('#div-download'));
                    }
                    else {
                        $("#subdata").html(res.Data);
                    }
                },
                error: function (req, error) {
                    if (error === 'error') { error = req.statusText; }
                    var errormsg = 'There was a communication error: ' + error;
                    //Do To Message display
                }
            });
        }

    </script>
}
